.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  place-items: center;
  background-color: rgba(10, 10, 10, 0.75);
}

.container {
  max-width: 95vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 95vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  background: var(--beige);
  color: var(--black);
  border-radius: 11px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: transparent;
  border: none;
  color: var(--red);
  font-size: 1.75rem;
  font-weight: 900;
  cursor: pointer;
}
